@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --bg-color: #dfe6e9;
  --second-color: #a29bfe;
  --stronger-second-color: #6c5ce7;
  --nav-color: #dfe6e9;
  --text-color: #2d3436;
  background-image: linear-gradient(
    var(--bg-color),
    var(--bg-color),
    var(--second-color)
  );
  height: 100vh;
  color: var(--text-color);
  font-family: "Work Sans";
  text-align: center;
}

button {
  font-family: "Work Sans";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}
